/*div {
  border: 1px solid black;
}*/
/*header*/
.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin: 0;
  position: fixed;
}

body {
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.logo span {
  display: inline;
  color: MediumAquamarine;
  padding-left: 10px;
}

.nav {
  padding-right: 20px;
}

.nav span a {
  display: inline-block;
  padding: 0 10px;
  color: black;
}
/*main container*/
.container {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}

.large {
  margin-right: 30px;
  width: 630px;
}

.medium {
  margin-right: 30px;
  width: 300px;
}

.small {
  margin-right: 30px;
  width: 240px;
}

.image {
  display: flex;
}

.content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.overlay {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main {
  font-size: 40px;
}

.substories {
  display: flex;
  justify-content: space-between;
}

.stories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.substories .story {
  width: 300px;
  height: 300px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.picture {
  width: 300px;
  margin-top: 16px;
  display: flex;
}

.image {
  height: 300px;
}

#newshead {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news {
  display: flex;
  flex-direction: column;
}

.newslinks {
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: 90px auto 0 auto;;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
  width: 100%;
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  align-self: flex-start;
}

.info a {
  font-weight: normal;
  font-family: Verdana;
  font-size: 12px;
  color: black;
  align-self: flex-end;
}

.info {
  padding: 15px;
}

#bottom {
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
