header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.article {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.large {
  width: 630px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.image {
  display: flex;
  border: 1px solid black;
  margin: 0px auto;
}

.medium {
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.small {
  width: 240px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.large.column {
  border: 1px solid black;
  margin: 0 20px 0 0;
}

.medium.column {
  border: 1px solid black;
  margin: 0 20px 0 20px;
}

.column {
  border: 1px solid black;
}

.small.column {
  border: 1px solid black;
  margin: 0 0 0 20px;
}

a {
  color: black;
}

header nav span {
  display: inline-block;
  padding: 10px;
}

header img {
  margin: auto 0px auto 20px;
}

header p {
  color: MediumAquamarine;
  margin: auto auto auto 10px;
}

.overlay.main {
  font-size: 40px;
}
 .content {
   font-family: Georgia;
  font-size: 17px;
  color: black;
 }

.overlay {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
