header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header nav p {
  flex-direction: row;
}

header img {

}

header p {
  color: MediumAquamarine;
}

header nav p {
  color: black;
}
