header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

a {
  color: black;
}


header nav li {
  
  display: inline-block;
  padding: 10px;
}

header img {
  margin: auto 0px auto 20px;
}

header p {
  color: MediumAquamarine;
  margin: auto auto auto 10px;
}
